torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
transformers
accelerate
opencv-python
pillow
einops
scikit-learn
joblib
num2words
fastapi
uvicorn[standard]
python-multipart
websockets
jinja2
decord
av
